footer {
  border-top: 1px solid #EEE;
  margin-bottom: 20px;
  a {
    margin-left: 0;
  }
  nav {
    float: right;
    display: inline;
    ul {
      text-align: right;
      display: inline;
      margin: 0;
      li {
        display: inline;
        margin-left: 5px;
      }
    }
  }
}
