body
  font-family Georgia, serif
  font-size 21px
  line-height 1.52
  text-rendering optimizeLegibility
  &.home
    ul
      li
        list-style none
        margin 0
        article
          margin-bottom 2.5em
        header, p
          margin 0


.content-wrap
  width 28em
  margin 0 auto

body, a
  color #57534a

a
  text-decoration underline
  &:hover
    color #496bb8
    text-decoration none

p
  margin-bottom 1.52em
  code
    font-size 0.95em

pre
  font-size 0.9em
  overflow-x auto
  overflow-y hidden
  padding-bottom 0.9em
  white-space pre
  code
    line-height 1.1
    padding 0

h1, h2, h3
  color #423f37

h1
  font-size 1.8em
  margin-bottom 1em
  font-weight 400

h2
  font-size 1.4em
  font-weight 400
  line-height 1.43
  margin-bottom 1.35em

h3
  font-weight 400
  font-size 1.2em
  margin-top 1.8em
  margin-bottom 0.8em

ul, ol
  padding 0

li
  margin-bottom 0.5em

blockquote
  margin 1.2em 0
  padding-left 1em
  font-style italic
  border-left 3px solid #f2f2f2

img
  display block
  padding 4px
  background-color white
  border 1px solid #ccc
  box-shadow 0 1px 3px rgba(0,0,0,0.1)

.header
  margin 1em 0 3em
  .title
    display: block
  h1, .title
    font-size 2.5em
    margin 0 0 -0.2em
  .description
    font-size 1.2em
    margin-top -0.3em
    font-size 1em
  h1, .title, .description
    text-align center
    font-style italic
  a, a:hover
    text-decoration none
    color #423f37

footer
  margin 3.48em 0 3em
  .nav
    text-align center
    margin-top 5em
    margin-bottom 3.5em
    margin 1em 0
    a
      padding 0 0.5em
      font-size 1.2em
      text-decoration none
  .copy
    text-align center
    font-size 0.7em
    font-style italic
    margin-top 1em
    color #8e8e8e
    p
      margin-bottom 0.4em
    nav
      ul
        margin 0
        li
          display inline
          a
            color inherit
        li + li::before
          content ' | '
    p, nav ul li
      a
        color inherit
        text-decoration none
        &:hover
          text-decoration underline

article
  header
    margin-bottom 1.52em
    h1, h2
      margin-bottom -0.2em
    time
      color #8e8e8e
      font-size 0.8em

.caps
  font-size 0.95em

.reply
  margin-left 20px

.ord
  font-size 0.7em
  vertical-align super
