@media(min-width: 1600px)
  body
    font-size 26px

@media(max-width: 900px)
  body
    font-size 18px

@media(max-width: 690px)
  .content-wrap
    width auto
    padding 0 1em

  .header
    margin 1em 0
    .description
      font-size 1em

  .article
    margin 1em 0 2.5em

  footer
    .nav
      margin 1em 0
      p
        margin-bottom 1em
